HELP.md
target/
!
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/


### VS Code ###
.vscode/

# Ignorar todos los archivos en la carpeta 'carpeta'
archivos/*

# Permitir 'especial.txt'
!archivos/default.jpg

# Permitir 'especial.txt'
!archivos/img/
