<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layouts/head :: head">

<body>
    <header th:insert="layouts/header :: header"></header>
    <div class="container">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-6 g-4 m-2">
                <div class="col" th:each="pelicula : ${peliculas}">
                  <div class="card">
                    <img th:src="@{${'/archivo?n=' + (pelicula.imagen == null ? 'default.png' : pelicula.imagen)}}" />
                    <div class="card-body">
                      <h5 class="card-title" th:text="${pelicula.nombre}"></h5>
                      <p class="card-text" th:text="${pelicula.genero.nombre}"></p>
                      <div class="catalogo-actor-container" th:each="protagonista : ${pelicula.protagonistas}">
                        <img class="catalogo-actor-imagen" th:src="${protagonista.urlImagen}">
                        <div class="catalogo-actor-texto" th:text="${protagonista.nombre}">
    
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="layouts/footer :: footer"></footer>
</html>