<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layouts/head :: head">

<body>
    <header th:insert="layouts/header :: header"></header>
    <div class="container col-6">
        <table class="table table-hover m-2">
            <thead class="table-success">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Genero</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each = "pelicula  : ${peliculas}">
                <td th:text ="${pelicula.nombre}"></td>
                <td th:text ="${pelicula.genero.nombre}"></td>
                <td>
                    <a th:href="@{'/pelicula/' + ${pelicula.id}}">
                        <button type="button" class="btn btn-success">
                            <i class="fas fa-edit"></i> Editar
                        </button>
                    </a>

                    <a th:href="@{'/pelicula/' + ${pelicula.id + '/delete'}}">
                        <button type="button" class="btn btn-danger">
                            <i class="fas fa-edit"></i> Borrar
                        </button>
                    </a>
                </td>
              </tr>
            </tbody>
          </table>
          <script th:utext="${scriptEdit}"></script>
    </div>

    <footer th:insert="layouts/footer :: footer"></footer>
</html>