<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layouts/head :: head">

<body>
    <header th:insert="layouts/header :: header"></header>
    <div class="container col-6">
        <table id="listado" class="table table-hover m-2">
            <thead class="table-success">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Genero</th>
                <th scope="col">Imagen</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each = "pelicula  : ${peliculas}">
                <td th:text ="${pelicula.nombre}"></td>
                <td th:text ="${pelicula.genero.nombre}"></td>
                <td><img style="width: 40px;" th:src="@{${'/archivo?n=' + (pelicula.imagen == null ? 'default.png' : pelicula.imagen)}}" /></td>
                <td>
                    <a th:href="@{'/pelicula/' + ${pelicula.id}}">
                        <button type="button" class="btn btn-success">
                            <i class="fa-regular fa-pen-to-square"></i> Editar
                        </button>
                    </a>

                    <a onclick="confirmarDelte(this)" th:data-id="${pelicula.id}">
                        <button type="button" class="btn btn-danger">
                            <i class="fas fa-trash-can"></i> Borrar
                        </button>
                    </a>
                </td>
              </tr>
            </tbody>
          </table>
          <script th:utext="${scriptEdit}"></script>
    </div>
    <footer th:insert="layouts/footer :: footer"></footer>
    
</html>