<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layouts/head">
</head>
<body>
    <header th:insert="layouts/header"></header>
    <div class="container">
        <form tg:action="@{/pelicula}" th:object="${pelicula}" method="post" class="col-md-8 " >
            <h2 th:text="${titulo}" class="py-4"></h2>

            <div class="mb-3">
              <label for="Nombre" class="form-label">Nombre Pelicula</label>
              <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
            </div>
            <div class="mb-3">
                <label for="fecha_estreno" class="form-label">Fecha Estreno</label>
                <input type="date" class="form-control" id="fecha_estreno" th:field="*{fechaEstreno}">
            </div>
            <div class="mb-3">
                <label for="fecha_estreno" class="form-label">Genero</label>
                <select class="form-select" th:field="*{genero}">
                    <option th:each="genero : ${generos}" th:text="${genero.nombre}" th:value="${genero.id}"></option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-primary float-and">Guardar</button>
        </form>
    </div>
</html>